
.div_BlockType1{
    display: flex;
    align-items: center;
    align-self: center;
    
    gap: 5px;

    background-color: var(--white);

    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "Inter";

    width: 230px;
    height: fit-content;

    padding-top:15px;
    padding-bottom:15px;

    border-radius: 0px;

    transition: all .5s;

    p{
        color:var(--azulEscuro) ;
        
    }
    img{
        width: 32px;
        padding-left: 15px;
    }

    &:hover{
        cursor: pointer;
        background-color: var(--red);
        letter-spacing: 10px;

        img{
            src: none;
        }

        p{
            color: var(--white);
        }
    }
}

.div_BlockType1_False{

    width: fit-content;
    height: fit-content;

    padding-top:15px;
    padding-bottom:15px;

    background-color: transparent;

    img{
        width: 32px;

         padding-left: 15px;
    }

    &:hover{
         cursor: pointer;
    }
}
