
.login_container{
    position: absolute;
    right: 0;
    z-index: 1;
    height: fit-content;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;

    width: fit-content;

    input{
      height: 32px;
      width: calc(192px - 15px);

      border-radius: var(--primary-borderRadius);

      background-color: var(--primary-color);
      color: var(--primary-bg-color);

      padding-left: 15px;

      
    
    }

    .login_container__usernameDiv{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
    }

    .div_password_input{
      display: flex;
      gap: 15px;
    }
    
    .btn_LoginBtn{
      color: var(--primary-bg-color);
        
      width: 80px;
      height: 50px;
    }

    .login_ft{
      display: flex;
      align-items: center;
      justify-content: space-around;

      width: 100%;
    }

    .btn_visibility{
          width: 32px;
          height: 32px;

          background-color: var(--primary-bg-color);
        }

    .btn_closeLoginSignUp{
      width: 32px;
      height: 32px;

      background-color: var(--primary-bg-color);
    }

    .btn_goback{
      width: 32px;
      height: 32px;

      background-color: var(--primary-bg-color);
    }
    
}