
/* showSideMenu === true */
.div_SideMenu{
    width: 250px;
    flex-shrink: 0;

    position: sticky;
    top: 0;
    align-self: flex-start;
}

.ul_SideMenu{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
}

/* showSideMenu === false */

.div_SideMenuF{
    width: fit-content;
    height: 100vh;
    position: sticky;
    top: 0;
    align-self: flex-start;
    margin-right: 15px;
    margin-left: 15px;
    
}

.ul_SideMenuF{
    display: flex;
    flex-direction:column ;
    justify-content: left;
    margin-top: 15px;
    gap: 15px;
}