.div_SideMenu{
    background-color: var(--primary-bg-color);

    width: 250px;
    flex-shrink: 0;

    position: sticky;
    top: 0;
    align-self: flex-start;
}

.ul_SideMenu{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
}