
p{
    color: var(--primary-color);
}

.showSideMenu{

    width: calc(100% - 250px);
    height: 400px;
    flex-shrink: 1;
    
}

.notShowSideMenu{
    width: 100%;
    height: 400px;

    position: absolute;
    right: 0;
    top: 108px;
}


.cardsDisplay{
    display: flex;
    justify-content: space-between;
    overflow-y:auto
}

.card{
    width: 340px;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: left;
    
    transition: background-color .5s;
    border-radius: var(--primary-borderRadius);

}



.card:hover{
        cursor: pointer;
        background-color: #00000034;
    }

.card_thumbnail{
    width: 340px;
    height: 208px;
    
    background-color: black;
    border-radius: var(--primary-borderRadius);
}

.card_footer{
    display: flex;
    align-items: center;
    gap: 15px;
}

.card_footer___profilePic{
        width: 36px;
        height: 36px;
        background-color: white;
        border-radius: 50%;
    }

.card_footer___text p {
    text-align: left;
}

.card_footer___text__title{
    font-size: 14px;
}

.card_footer___text__channel{
    font-size: 12px;
}

.card_footer___text__views{
    font-size: 10px;
}

.card_footer__btns{
    display: flex;
    align-items: center;
        button {
            background-color: var(--secondary-bg-color);
        }
}
.card_footer__btns__like{
    border-top-left-radius:var(--primary-borderRadius);
    border-bottom-left-radius:var(--primary-borderRadius);
}
.card_footer__btns__like img{
        width: 22px;
        height: 22px;}

.card_footer__btns__dislike{
    border-top-right-radius:var(--primary-borderRadius);
    border-bottom-right-radius:var(--primary-borderRadius);
}
.card_footer__btns__dislike img{
        width: 22px;
        height: 22px;}


.smallerH2{
    color: var(--primary-color);
    margin: 15px 0 5px 5px;
}
.smallersDisplay{
    display: flex;
}
.shortcard{
    height: 400px;
    width: 250px;

    border-radius: var(--primary-borderRadius);

    padding: 5px;
    transition: background-color .5s;
    border-radius: var(--primary-borderRadius);
}

.shortcard:hover{
        cursor: pointer;
        background-color: #00000034;
    }

.shortcard_thumbnail{
    border-radius: var(--primary-borderRadius);
}